<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/public/header_styles.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
		<script src="https://kit.fontawesome.com/a914ae0fb8.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<a href="/" class="title-bar"><img src="/public/logo.png" /></a>
		<div class="grid-container">
			<div class="grid-item" id="upload">
				<!-- 로그인 상태에서만 글쓰기 아이콘 보이도록 설정 -->
				<a href="/articles/new" id="writersLink" style="display: none"><i class="fas fa-pen-fancy"></i></a>
			</div>
			<div class="grid-item">
				<ul class="ulul">
					<li class="lili"><a href="/profiles" class="block">KJD 기자단</a></li>
					<li class="lili"><a href="/articles/category/사회" class="block">사회</a></li>
					<li class="lili"><a href="/articles/category/문화" class="block">문화</a></li>
					<li class="lili"><a href="/articles/category/국제" class="block">국제</a></li>
					<li class="lili"><a href="/articles/category/교육" class="block">교육</a></li>
				</ul>
			</div>
			<div class="grid-item" id="profile">
				<!-- 로그인 상태에서만 로그아웃 아이콘 보이도록 설정 -->
				<a href="/login" id="link"><i class="" id="icon"></i></a>
				<a href="/logout" id="logout" style="display: none"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
			</div>
		</div>
	</body>
</html>

<script>
	const iconElement = document.getElementById("icon");
	const linkElement = document.getElementById("link");
	const writerLink = document.getElementById("writersLink");
	const logoutLink = document.getElementById("logout");
	const serverUserID = "<%= sessionId %>";
	console.log("userid : ", serverUserID);

	// API 호출 및 처리
	if (serverUserID == "none") {
		// Null인 경우 로그인 아이콘과 링크를 표시하고, 로그아웃 및 글쓰기 아이콘은 숨김
		iconElement.className = "fas fa-user"; // 1번 아이콘의 경로
		linkElement.href = "/login"; // 1번 링크
		writerLink.style.display = "none"; // 글쓰기 아이콘 숨기기
		logoutLink.style.display = "none"; // 로그아웃 아이콘 숨기기
	} else {
		// Null이 아닌 경우 프로필 아이콘과 링크를 표시하고, 로그아웃 및 글쓰기 아이콘을 표시
		iconElement.className = "fas fa-bars"; // 1번 아이콘의 경로
		linkElement.href = "/profile/<%= sessionId %>"; // 2번 링크
		writerLink.style.display = "inline"; // 글쓰기 아이콘 보이기
		logoutLink.style.display = "inline"; // 로그아웃 아이콘 보이기
	}
</script>
