<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/public/header_styles.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
		<script src="https://kit.fontawesome.com/a914ae0fb8.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<a href="/" class="title-bar"><img src="/public/logo.png" /></a>
		<div class="grid-container">
			<div class="grid-item" id="upload">
				<a href="/articles/new"><i class="fas fa-pen-fancy"></i></a>
			</div>
			<div class="grid-item">
				<ul>
					<li><a href="/articles/category/사회" class="block">사회</a></li>
					<li><a href="/articles/category/문화" class="block">문화</a></li>
					<li><a href="/articles/category/국제" class="block">국제</a></li>
					<li><a href="/articles/category/교육" class="block">교육</a></li>
				</ul>
			</div>
			<div class="grid-item" id="profile">
				<a href="/login" id="link"><i class="" id="icon"></i></a>
				<a href="/logout" id="logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
			</div>
		</div>
	</body>
</html>

<script>
	const iconElement = document.getElementById("icon");
	const linkElement = document.getElementById("link");
	const serverUserID = "<%= userId %>";
	console.log("userid : ", serverUserID);
	// API 호출 및 처리
	if (serverUserID == "none") {
		// Null인 경우 1번 아이콘과 링크를 표시
		iconElement.className = "fas fa-user"; // 1번 아이콘의 경로
		linkElement.href = "/login"; // 1번 링크
	} else {
		// Null이 아닌 경우 2번 아이콘과 링크를 표시
		iconElement.className = "fas fa-bars"; // 1번 아이콘의 경로
		linkElement.href = "/profile"; // 2번 링크
	}
</script>
