<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<title>기사 작성</title>
		<link rel="stylesheet" href="/public/upload_styles.css" />
		<link rel="icon" type="image/x-icon" href="/public/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
		<script src="https://kit.fontawesome.com/a914ae0fb8.js" crossorigin="anonymous"></script>
		<script>
			window.addEventListener("load", function () {
				var allElements = document.getElementsByTagName("*");
				Array.prototype.forEach.call(allElements, function (el) {
					var includePath = el.dataset.includePath;
					if (includePath) {
						var xhttp = new XMLHttpRequest();
						xhttp.onreadystatechange = function () {
							if (this.readyState == 4 && this.status == 200) {
								el.outerHTML = this.responseText;
							}
						};
						xhttp.open("GET", includePath, true);
						xhttp.send();
					}
				});
			});
		</script>
	</head>
	<body>
		<%- include("header") %>
		<div class="upload">
			<form action="/articles" method="POST" enctype="multipart/form-data">
				<div class="container" id="title">
					<h3>제목</h3>
					<input type="text" id="title-input" name="title" required />
				</div>
				<div class="container" id="title">
					<h3>주제</h3>
					<select name="category" id="lang" required>
						<option value="">주제를 선택하세요</option>
						<option value="사회">사회</option>
						<option value="문화">문화</option>
						<option value="국제">국제</option>
						<option value="교육">교육</option>
					</select>
				</div>
				<div class="container" id="content">
					<h3>내용</h3>
					<textarea id="content-input" name="content" rows="5" required></textarea>
				</div>
				<div class="container" id="image">
					<h3>첨부파일</h3>
					<input type="file" id="image-input" name="attachment" />
				</div>
				<button type="submit" id="submit">업로드</button>
			</form>
		</div>
	</body>
</html>
