<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>회원가입</title>
		<link rel="stylesheet" href="/public/register_styles.css" />
		<link rel="icon" type="image/x-icon" href="favicon.png" />
	</head>
	<body>
		<a href="/"><img src="/public/logo.png" alt="Logo" class="kjdlogo" /></a>

		<div class="wrapper">
			<form id="registerForm" method="POST">
				<h1>회원가입</h1>

				<div class="input-box">
					<input type="text" name="username" id="username" placeholder="아이디" required />
				</div>

				<div class="input-box">
					<input type="password" name="password" id="password" placeholder="비밀번호" required />
				</div>

				<button type="submit" class="btn">회원가입</button>

				<div class="register-link">
					<p>이미 계정이 있으십니까? <a href="/login">로그인하기</a></p>
				</div>
			</form>
		</div>
		<div class="logo">
			<p id="madeby">Made By</p>
			<p id="notfound">404.Not Found</p>
		</div>

		<!-- JavaScript 추가 -->
		<script>
			document.getElementById("registerForm").addEventListener("submit", async function (event) {
				event.preventDefault(); // 폼의 기본 제출 동작 막기

				const username = document.getElementById("username").value;
				const password = document.getElementById("password").value;

				try {
					// 서버로 POST 요청 보내기
					const response = await fetch("/register", {
						method: "POST",
						headers: { "Content-Type": "application/json" },
						body: JSON.stringify({ username, password }),
					});

					const result = await response.json();

					if (!response.ok) {
						// 오류 발생 시 메시지 경고창
						alert(result.message);
						return;
					}

					// 성공 시 메시지 경고창 및 페이지 리디렉션
					alert(result.message);
					window.location.href = result.redirect;
				} catch (error) {
					console.error("Error:", error);
					alert("회원가입에 성공했습니다.");
				}
			});
		</script>
	</body>
</html>
