@font-face {
	font-family: "KD";
	font-style: normal;
	font-weight: 300;
	src: url(//cdn.jsdelivr.net/npm/font-kopub@1.0/fonts/KoPubDotum-Light.eot);
	src: url(//cdn.jsdelivr.net/npm/font-kopub@1.0/fonts/KoPubDotum-Light.eot?#iefix) format("embedded-opentype"),
		url(//cdn.jsdelivr.net/npm/font-kopub@1.0/fonts/KoPubDotum-Light.woff) format("woff"),
		url(//cdn.jsdelivr.net/npm/font-kopub@1.0/fonts/KoPubDotum-Light.ttf) format("truetype");
}
@font-face {
	font-family: "KD";
	font-style: normal;
	font-weight: 500;
	src: url(//cdn.jsdelivr.net/npm/font-kopub@1.0/fonts/KoPubDotum-Medium.eot);
	src: url(//cdn.jsdelivr.net/npm/font-kopub@1.0/fonts/KoPubDotum-Medium.eot?#iefix) format("embedded-opentype"),
		url(//cdn.jsdelivr.net/npm/font-kopub@1.0/fonts/KoPubDotum-Medium.woff) format("woff"),
		url(//cdn.jsdelivr.net/npm/font-kopub@1.0/fonts/KoPubDotum-Medium.ttf) format("truetype");
}
@font-face {
	font-family: "KD";
	font-style: normal;
	font-weight: 700;
	src: url(//cdn.jsdelivr.net/npm/font-kopub@1.0/fonts/KoPubDotum-Bold.eot);
	src: url(//cdn.jsdelivr.net/npm/font-kopub@1.0/fonts/KoPubDotum-Bold.eot?#iefix) format("embedded-opentype"),
		url(//cdn.jsdelivr.net/npm/font-kopub@1.0/fonts/KoPubDotum-Bold.woff) format("woff"),
		url(//cdn.jsdelivr.net/npm/font-kopub@1.0/fonts/KoPubDotum-Bold.ttf) format("truetype");
}
* {
	margin: 0;
	padding: 0;
	font-family: KD;
}
body {
	margin: 10%;
	margin-top: 0;
	padding: 0;
	list-style: none;
	/* background-image: url("bg.jpg"); */
}
a {
	color: black;
	text-decoration: none;
}
.title-bar {
	border-bottom: darkgray 0.15em solid;
	margin: 0;
	padding-top: 0;
	padding-bottom: 0.2em;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.title-bar img {
	margin: 1em;
	height: 4em;
	padding: 1em;
}
.grid-container {
	display: grid;
	grid-template-columns: 10em auto 10em;
	padding: 1em;
	border-bottom: black 0.1875em solid;
}
.grid-item {
	text-align: center;
	font-size: 1.8em;
}
.block:hover {
	color: green;
	font-weight: 700;
}
li {
	display: inline-block;
}
ul {
	text-align: center;
}
.block {
	display: block;
	margin-left: 1.2em;
	margin-right: 1.2em;
}
#upload {
	text-align: left;
}

#profile {
	text-align: right;
}
