@font-face {
	font-family: "KD";
	font-style: normal;
	font-weight: 300;
	src: url(//cdn.jsdelivr.net/npm/font-kopub@1.0/fonts/KoPubDotum-Light.eot);
	src: url(//cdn.jsdelivr.net/npm/font-kopub@1.0/fonts/KoPubDotum-Light.eot?#iefix) format("embedded-opentype"),
		url(//cdn.jsdelivr.net/npm/font-kopub@1.0/fonts/KoPubDotum-Light.woff) format("woff"),
		url(//cdn.jsdelivr.net/npm/font-kopub@1.0/fonts/KoPubDotum-Light.ttf) format("truetype");
}
@font-face {
	font-family: "KD";
	font-style: normal;
	font-weight: 500;
	src: url(//cdn.jsdelivr.net/npm/font-kopub@1.0/fonts/KoPubDotum-Medium.eot);
	src: url(//cdn.jsdelivr.net/npm/font-kopub@1.0/fonts/KoPubDotum-Medium.eot?#iefix) format("embedded-opentype"),
		url(//cdn.jsdelivr.net/npm/font-kopub@1.0/fonts/KoPubDotum-Medium.woff) format("woff"),
		url(//cdn.jsdelivr.net/npm/font-kopub@1.0/fonts/KoPubDotum-Medium.ttf) format("truetype");
}
@font-face {
	font-family: "KD";
	font-style: normal;
	font-weight: 700;
	src: url(//cdn.jsdelivr.net/npm/font-kopub@1.0/fonts/KoPubDotum-Bold.eot);
	src: url(//cdn.jsdelivr.net/npm/font-kopub@1.0/fonts/KoPubDotum-Bold.eot?#iefix) format("embedded-opentype"),
		url(//cdn.jsdelivr.net/npm/font-kopub@1.0/fonts/KoPubDotum-Bold.woff) format("woff"),
		url(//cdn.jsdelivr.net/npm/font-kopub@1.0/fonts/KoPubDotum-Bold.ttf) format("truetype");
}
* {
	margin: 0;
	padding: 0;
	font-family: KD;
}
body {
	margin: 10%;
	margin-top: 0;
	padding: 0;
	list-style: none;
	/* background-image: url("bg.jpg"); */
}
a {
	color: black;
	text-decoration: none;
}
h1 {
	text-align: center;
	font-size: 4em;
	font-weight: 700;
	padding: 0.6em;
	padding-bottom: 0;
}
.main-news {
	display: grid;
	grid-template-columns: 50% 50%;
	padding: 1em;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	border-bottom: darkgray 0.15em solid;
}
.main-news p {
	font-size: 2.0064em;
	line-height: 1.3;
	padding: 0.2em;

	text-align: justify;
}
.main-news img {
	padding: 0.2em;
	width: 100%;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.article-container {
	display: flex;
	flex-direction: column; /* 수직 정렬 */
	justify-content: space-between; /* 위와 아래 요소 간 간격 조정 */
	height: 100%; /* 부모 높이에 맞춰 확장 */
}

.article-container p:last-child {
	margin-top: auto; /* 위쪽 공간을 밀어 하단으로 배치 */
}

.others {
	display: grid;
	grid-template-columns: 65% 35%;
	margin-right: 1em;
	padding-top: 0;
	padding-left: 0;
	border-bottom: darkgray 0.15em solid;
	padding-bottom: 1em;
}

.others-title div {
	text-align: left;
	padding-top: 0.8em;
	padding-bottom: 0.8em;
	padding-left: 0.6em;
	font-size: 2em;
	border-bottom: darkgray 0.05em solid;
}

#last {
	border-bottom: none;
}

#when {
	color: darkgray;
	font-size: 0.7em;
}
.top-news {
	padding: 1em;
	padding-right: 0;
	font-size: 2em;
	text-align: left;

	/* border-bottom: darkgray 0.05em solid; */
}
.top-news h3 {
	text-align: left;
	margin-bottom: 0.3em;
}
.sub {
	padding-top: 0.8em;
}
.category {
	color: green;
	margin-bottom: 0.1em;
}
a:hover {
	color: gray;
}

/* 저작권 표시 */
.copyright {
	font-family: KD;
	text-align: center;
	font-size: 1.1em;
	color: #7f8c8d;
	padding: 20px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a {
    margin: 0 5px;
    padding: 5px 10px;
    text-decoration: none;
    color: #000;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover {
    background-color: #ddd;
}
