* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-size: cover;
	background-position: center;
}

.wrapper {
	width: 420px;
	color: #000000;
	padding: 30px 40px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	border-radius: 40px;
}

.wrapper h1 {
	font-size: 36px;
	text-align: center;
}

.wrapper .input-box {
	position: relative;
	width: 100%;
	height: 50px;
	margin: 30px 0;
}

.input-box input {
	width: 100%;
	height: 100%;
	background: #ffffff;
	border: none;
	outline: none;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 40px;
	font-size: 16px;
	color: #666666;
	padding: 20px 45px 20px 20px;
	font-family: sans-serif;
}

.input-box input::placeholder {
	color: #3f3f3f;
}
.input-box i {
	right: 20px;
	top: 50%;
	transform: translateY(-50);
	font-size: 20px;
}

.wrapper .btn {
	width: 100%;
	height: 45px;
	background: #62b66d;
	border: none;
	outline: none;
	border-radius: 40px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	font-size: 16px;
	color: #ffffff;
	font-weight: 600;
	margin-bottom: 20px;
}

.wrapper .btn:hover {
	background: #418a4a;
}

.wrapper .register-link {
	font-size: 14.5px;
	text-align: center;
	margin-top: 20px 0 15px;
}

.register-link p a {
	color: #818181;
	text-decoration: none;
	font-weight: 400;
}

.register-link p a:hover {
	text-decoration: underline;
}

.kjdlogo {
	width: 200px;
	position: absolute;
	top: 19px;
	left: 50%;
	transform: translateX(-50%);
}

.logo {
	width: 300px;
	position: absolute;
	bottom: 50px;
	left: 50%;
}