@font-face {
	font-family: "KD";
	font-style: normal;
	font-weight: 300;
	src: url(//cdn.jsdelivr.net/npm/font-kopub@1.0/fonts/KoPubDotum-Light.eot);
	src: url(//cdn.jsdelivr.net/npm/font-kopub@1.0/fonts/KoPubDotum-Light.eot?#iefix) format("embedded-opentype"),
		url(//cdn.jsdelivr.net/npm/font-kopub@1.0/fonts/KoPubDotum-Light.woff) format("woff"),
		url(//cdn.jsdelivr.net/npm/font-kopub@1.0/fonts/KoPubDotum-Light.ttf) format("truetype");
}
@font-face {
	font-family: "KD";
	font-style: normal;
	font-weight: 500;
	src: url(//cdn.jsdelivr.net/npm/font-kopub@1.0/fonts/KoPubDotum-Medium.eot);
	src: url(//cdn.jsdelivr.net/npm/font-kopub@1.0/fonts/KoPubDotum-Medium.eot?#iefix) format("embedded-opentype"),
		url(//cdn.jsdelivr.net/npm/font-kopub@1.0/fonts/KoPubDotum-Medium.woff) format("woff"),
		url(//cdn.jsdelivr.net/npm/font-kopub@1.0/fonts/KoPubDotum-Medium.ttf) format("truetype");
}
@font-face {
	font-family: "KD";
	font-style: normal;
	font-weight: 700;
	src: url(//cdn.jsdelivr.net/npm/font-kopub@1.0/fonts/KoPubDotum-Bold.eot);
	src: url(//cdn.jsdelivr.net/npm/font-kopub@1.0/fonts/KoPubDotum-Bold.eot?#iefix) format("embedded-opentype"),
		url(//cdn.jsdelivr.net/npm/font-kopub@1.0/fonts/KoPubDotum-Bold.woff) format("woff"),
		url(//cdn.jsdelivr.net/npm/font-kopub@1.0/fonts/KoPubDotum-Bold.ttf) format("truetype");
}
* {
	margin: 0;
	padding: 0;
	font-family: KD;
}
body {
	margin: 10%;
	margin-top: 0;
	padding: 0;
	list-style: none;
	/* background-image: url("bg.jpg"); */
}
a {
	color: black;
	text-decoration: none;
}
h1 {
	text-align: center;
	font-size: 3.95em;
	font-weight: 700;
	padding: 0.5em;
}
.main-news {
	display: grid;
	grid-template-columns: 50% 50%;
	padding: 1em;
	padding-top: 0;
	border-bottom: black 0.15em solid;
}
.main-news p {
	font-size: 2.0064em;
	line-height: 1.3;
	padding: 0.2em;
}
.main-news img {
	padding: 0.2em;
	width: 100%;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.news p {
	font-family: KD;
	font-size: 2em;
	padding: 0.8em;
	margin: 0.2em;
	border-bottom: black 0.05em solid;
}
